.Card{
    display: flex;
    flex-direction: column;
    margin: 10px;
    height: 270px;
    width: 200px;
    /* border: 1px solid white; */
    border-radius: 3%;
    text-align: center;
    color: black;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;;
}
a{
    text-decoration: none;
}
.img{
    height: 13em;
    width:100%
}

.no-remove{
    display: none;
}
.remove{
    display: flex;
    width: 30px;
    height: 30px;
    background-color: white;
    color: black;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    right: 6px;
    top: 11px;
    font-weight: 600;
    
}
.remove:hover{
    background-color: black;
    color: white;
}
.add{
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 11px;
    right: 8px;
    opacity: 1;
    border: none;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.add:hover{
    background-color: black;
    fill: white;
}